<h1>{{title}}</h1>
<p>Welcome to {{title}}</p>


<html>
<body>
    <b >ENTER STUDENTS DETAILS in</b>
    <br><br>
    <table border="2"> 
    <form method="post" action="/submit">
       <tr><th>Name:</th> <td><input type="text" name="name"></td></tr><tr></tr>
       <tr> <th>RollNo:</th><td><input type="number" name="rollno"></td></tr><tr></tr>
       <tr> <th>Mobileno:</th><td><input type="number" name="mobno"></td></tr><tr></tr>
       <tr> <th>Classid:</th><td><input type="number" name="clsid"></td></tr><tr></tr>
        <tr> <th> standerd:</th><td><input type="text" name="standerd"></td></tr><tr></tr>
        <tr> <th>Division:</th><td><input type="text" name="div"></td></tr><tr></tr>
        <tr><th></th><td><input type="submit" ></td></tr><tr></tr>
    </form>
</table></body></html>